/*通用样式*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family:sans-serif,"Arial","Microsoft YaHei","黑体","宋体";
}
.navAction{
    border-left: 15px solid #1c98ff !important;
}
.indent{
    text-indent: 35px;
}
.line{
    margin: 20px 0px;
    width:100%;
    border-bottom:2px solid black;
}
.redColor{
    color: red;
}

.lineHeight{
    line-height: 60px;
}
.center{
    text-align: center;
}
.isCode{
    font-size: 18px;
    line-height:30px;
    background-color: #f3f5f7;
    padding-left: 20px;
    padding-top:20px;
    padding-bottom:20px;
    font-family: "Microsoft YaHei";
    margin-bottom: 20px;
}
.annotation{
    color: #008000;
}
.variable{
    color: #ff1038;
}
.ref{
    color: #ff9124;
}
.param{
    color: #646464;
}
.value{
    color: #2A00FF;
}
.oneTag{
    margin-left: 40px;
}
.twoTag{
    margin-left: 80px;
}
.menuBack{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity:0.2;
    position: fixed;
    z-index: 1;
}
/*头部样式*/
.header{
    width:100%;
    height: 90px;
    background-color: white;
    position:fixed;
    z-index: 9;
    box-shadow: 0px 5px 5px #666;
}
.logos{
    height: 100%;
    width: 600px;
    margin: 0px auto;
    text-align: center;
}
.logos img{
    margin-top: 15px;
}
.logos .logoName{
    position: relative;
    top: -10px;
    color: #1C98FF;
    font-size: 30px;
    font-weight:bold;
}
.logos .about{
    position: relative;
    top: -10px;
    font-weight:bold;
    color: #990099;
}
.menu{
    position: absolute;
    margin-top: 3px;
    margin-left: 30px;
}
.range{
    height: 90px
}
/*工具介绍*/
.aboutUs{
    width: 100%;
    height: auto;
    padding: 30px 0px;
    text-align: center;
    color: white;
    background-color: #0047ff;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#0047ff),to(#2FB9FD));
    background-image: -webkit-linear-gradient(top,#0047ff 0,#2FB9FD 100%);
    background-image: -o-linear-gradient(top,#0047ff 0,#2FB9FD 100%);
    background-image: linear-gradient(to bottom, #0047ff 0,#1C98FF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0047ff', endColorstr='#2FB9FD', GradientType=0);
}
.CMEUBOX{
    height: 100px;
}
.CMEUBOX .nameBox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    color: white;
}
.CMEUBOX .nameBox .name{
    font-size: 46px;
    font-weight: bolder;
}
.CMEUBOX .nameBox .version{
    padding-top: 15px;
    padding-left: 2px;;
}
.des{
    font-size: 26px;
    font-weight:bold;
    padding-bottom: 20px;
}
.downBox{
    margin-bottom: 10px;
}
.downLoad{
    color: white;
    font-size: 26px;
    font-weight:bold;
    display: inline-block;
    padding:10px 15px;
    border-radius: 8px;
    border: 2px solid white;
}
.downLoad:hover{
    color: blue;
    border: 2px solid blue;
}

/*主体样式*/
.contextBox{
    padding-top: 20px;
    width:100%;
    /*height: 12000px;*/
}
.context{
    width: 90%;
    height:500px;
    margin:0px auto;
    position: relative;
}
.nav{
    position: fixed;
    width: 25%;
    height: 100%;
    z-index: 99;
    top: 90px;
    left: 0px;
    background-color: white;
    padding-left: 35px;
    padding-right: 20px;
    padding-top: 20px;
    display: none;
}
.docInfo{
    position: absolute;
    width:100%;
    height: 500px;
    font-size: 16px;
}
.docInfo ol{
    padding-left: 20px;
}
.docInfo ol li{
    margin:5px 0px;
}
.docInfo h3{
    margin-top: 20px;
}
.nav ul{
    position: fixed;
    list-style-type:none;
    width:20%;
}
.nav ul li{
    margin-bottom: 10px;
    padding: 10px 10px 10px 0px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-weight:bold;
    color: #1c98ff;
    border: 1px solid #1c98ff;
}
.nav ul li:hover{
    border-left:15px solid #1c98ff;
    transition: border .3s;
}
.arrow{
    float: left;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 18px solid #1c98ff;
    margin-top: -4px;
}